<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.changesizetest">

    <!--> En este ejercicio se ha creado na clase presonalizada de application.
    Para que el ejercicio funcione se debe anadir el atributo a android:name en <application/>
    con el nombre de la clase creada -->
    <application
        android:name=".ChangeSizeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChangeSizeTest">
        <activity
            android:name=".ui.ViewMessageActivity"
            android:exported="true" />
        <activity
            android:name=".ui.ChangeSizeTextActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>